
@import '~@angular/material/_theming.scss';

@include mat-core();

// default theme:
$primary: mat-palette($mat-deep-purple);
$warn : #FFFF00;
$muted : #777777;

html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
p {
  color: $muted;
}

.text-center {
    text-align: center;
}

.bold {
  font-weight: bold;
  color: mat-color($primary);
}

hr {
  border-top:1px dashed $muted !important;
  margin: 1em 0 1em 0;
}

