<div class="text-center" *ngIf="!questionarioRespondido">
  <h3>PERFIL DO INVESTIDOR - QUESTIONÁRIO</h3>

  <div>
    <p>1 - Qual o seu comportamento em relação ao seus investimentos?</p>

    <mat-grid-list cols="3" rowHeight="fit" [style.height]="'50px'" [gutterSize]="'1px'">
        <mat-radio-group>
        <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-radio-button value="1">Preservar meu dinheiro sem correr riscos</mat-radio-button></mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-radio-button value="2">Ganhar mais dinheiro, assumindo riscos moderados</mat-radio-button></mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"><mat-radio-button value="3">Ganhar mais dinheiro, assumindo riscos agressivos</mat-radio-button></mat-grid-tile>
      </mat-radio-group>
    </mat-grid-list>
    <hr>
  </div>

  <div>
    <p>2 - Por quanto tempo você deseja manter os seus investimentos?</p>
    <mat-radio-group>
      <mat-radio-button value="1">Até 1 ano</mat-radio-button>
      <mat-radio-button value="2">de 1 a 3 anos</mat-radio-button>
      <mat-radio-button value="3">de 1 a 3 anos</mat-radio-button>
    </mat-radio-group>
    <hr>
  </div>

  <div>
    <p>3 - Quantos % desses investimentos você pode prcisar em um ano?</p>
    <mat-radio-group>
      <mat-radio-button value="1">Acima de 75%</mat-radio-button>
      <mat-radio-button value="2">de 26% a 74%</mat-radio-button>
      <mat-radio-button value="3">Até 25%</mat-radio-button>
    </mat-radio-group>
    <hr>
  </div>

</div>

<div class="decisao-botoes" *ngIf="!questionarioRespondido">
  <button mat-stroked-button color="primary" (click)="decisaoVoltar()">VOLTAR</button>
  <button mat-flat-button color="primary" (click)="decisaoSalvar()">SALVAR</button>
</div>

<app-questionario-respondido *ngIf="questionarioRespondido"></app-questionario-respondido>
