.decisao-botoes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  button {
    margin: 5px;
  }
}

/* mat-radio-button {
  margin: 25px;
} */

.perguntas {

  .titulo {

  }

  .opcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }
}
