<span class="text-center">

  <div style="margin-top:10%;">
    <img src="../assets/icons/checklist.svg" alt="Actuar"  width="50px">
  </div>

  <p class="bold">
    INFORMAÇÕES RECEBIDAS!
  </p>

  <p>Em até 48h daremos um retorno sobre a abertura de sua conta.</p>
  <p>Para receber nossas recomendações de investimentos e começar a investir,
    <br> precisamos conhecer seu perfil de investidor</p>

  <p>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</p>
</span>

<div class="decisao">
  <div class="decisao-pergunta">
    <p>Gostaria de responder ao Perfil do investidor?</p>
  </div>
  <div class="decisao-botoes">
    <button mat-stroked-button color="primary">NÃO</button>
    <button mat-stroked-button color="primary">SIM</button>
  </div>
</div>
