<app-loading *ngIf="loading"></app-loading>
<app-questionario-respondido *ngIf="questionarioRespondido"></app-questionario-respondido>

<section class="text-center" *ngIf="!questionarioRespondido && !loading">

  <img src="assets/icons/checklist.svg" alt="Informações recebidas" width="80px">

  <h3 class="bold">
    INFORMAÇÕES RECEBIDAS!
  </h3>

  <p>Em até 48h daremos um retorno sobre a abertura de sua conta.</p>
  <p>Para receber nossas recomendações de investimentos e começar a investir,
    <br> precisamos conhecer seu perfil de investidor</p>

  <p>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</p>

  <div class="decisao">
    <div class="decisao-pergunta">
      <p>Gostaria de responder ao Perfil do investidor?</p>
    </div>
    <div class="decisao-botoes">
      <button mat-stroked-button color="primary" (click)="decisaoNegar()">NÃO</button>
      <button mat-stroked-button color="primary" (click)="decisaoAceitar()">SIM</button>
    </div>
  </div>

</section>
